In [3]:
#SKLEARN ML EXAMPLE

from sklearn import svm
import pandas as pd
import math
data = pd.read_csv('zoo.csv')
data.head(6)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [4]:
def preprocess(data):
    X = data.iloc[:, 1:17]  # all rows, all the features and no labels
    y = data.iloc[:, 17]  # all rows, label only

    return X, y

In [5]:
from sklearn.model_selection import train_test_split

all_X, all_y = preprocess(data)
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(75, 16) (26, 16) (75,) (26,)

In [7]:
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [8]:
clf.score(X_test, y_test)

0.8846153846153846

In [9]:
clf.predict(X_test[15:25])

array([1, 6, 2, 7, 7, 7, 1, 1, 2, 1], dtype=int64)

In [10]:
y_test[10:15]

34    4
59    2
48    1
32    1
33    2
Name: class_type, dtype: int64